<app-navbar></app-navbar>
<app-left-bar></app-left-bar>

<div id="page-wrapper">
    <div class="container-fluid">

        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Vista Afiliado</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li class="active">Afiliados</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <div class="row row-in">
                        <app-oferta-af-aprobprecal [ofertaAfiliado]="ofertaAprobPrecal" [rentaImponible]="afiliados" [mora]="mora" [moraTotal]="moraTotal" [moraN]="moraN" [ofertSeguroAuto]="ofertSeguroAuto" [gestorCampana]="gestorCampana" [uf_valor]="uf_valor" [uf_fecha]="uf_fecha"></app-oferta-af-aprobprecal>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <app-afiliado-demografico [afiliados]="afiliados"></app-afiliado-demografico>
                <div class="container bg_custom">
                    <app-oferta-af-credito [ofertaAfiliado]="ofertaCredito"></app-oferta-af-credito>
                    <app-oferta-af-seguro [ofertaAfiliado]="ofertaSeguros"></app-oferta-af-seguro>
                    <app-oferta-af-ahorro [ofertaAfiliado]="ofertaAhorro"></app-oferta-af-ahorro>
                    <app-oferta-af-beneficios [ofertaAfiliado]="ofertaBeneficios"></app-oferta-af-beneficios>
                </div>
            </div>
        </div>

    </div>

</div>