<app-navbar></app-navbar>
<app-left-bar></app-left-bar>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table">
                <td>
                    <h3 class="box-title">Notificaciones</h3>
                </td>
                <td>
                    <button class="btn btn-success btn-rounded waves-effect waves-light" type="button" ><span class="btn-label">{{ leadsNuevos }}</span>Nuevos</button>

                </td>
                <td>
                    <button class="btn btn-warning btn-rounded waves-effect waves-light" type="button" ><span class="btn-label">{{ leadsPendientes }}</span>Pendientes</button>


                </td>
                <td>
                    <button class="btn btn-info btn-rounded waves-effect waves-light" type="button" ><span class="btn-label">{{ leadsGestionados }}</span>Gestionados</button>


                </td>
            </table>
        </div>
        <mat-card class="example-container">
            <div class="example-header">
                <mat-form-field>
                  <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
                </mat-form-field>
              </div>
     <table mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let element" >
                <span class="label label-success label-rounded" *ngIf="element.nuevo==1 && element.gestionado==0">&nbsp;</span>
                <span class="label label-warning label-rounded" *ngIf="element.nuevo==0 && element.gestionado==0">&nbsp;</span>
                <span class="label label-info label-rounded" *ngIf="element.nuevo==0 && element.gestionado==1">&nbsp;</span>
         

            </td>
          </ng-container>
   
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA </th>
            <td mat-cell *matCellDef="let element">{{ element.created_time.toDate() | date:'dd/MM/yyyy hh:mm a' }} </td>
          </ng-container>
          <ng-container matColumnDef="rut">
            <th mat-header-cell *matHeaderCellDef> RUT </th>
            <td mat-cell *matCellDef="let element">{{ element.rut }} </td>
          </ng-container>
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
            <td mat-cell *matCellDef="let element">{{ element.nombre | truncate:['20', '...'] }} </td>
          </ng-container>
          <ng-container matColumnDef="variable">
            <th mat-header-cell *matHeaderCellDef> VARIABLE </th>
            <td mat-cell *matCellDef="let element">  {{element.comuna }}
                <span *ngIf="element.califica==0"><b>NO CALIFICA</b></span>
                <span *ngIf="element.califica==1">${{element.monto | number}}</span>
</td>
          </ng-container>
          <ng-container matColumnDef="asignado">
            <th mat-header-cell *matHeaderCellDef> ASIGNADO A </th>
            <td mat-cell *matCellDef="let element">  {{ element.email_colaborador | split:'@' }}
             
</td>
          </ng-container>
          <ng-container matColumnDef="tool">
            <th mat-header-cell *matHeaderCellDef>TOOLS </th>
            <td mat-cell *matCellDef="let element">  <span class="text-success">                                    
                <button class="btn btn-primary btn-rounded waves-effect waves-light"  (click)="onLead(element.propertyId)"><span class="btn-label"><i class="fa fa-pencil"></i></span>Gestionar</button>
           </span>
             
</td>
          </ng-container>
          
         
                            
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          

     </table>
      <!-- <div class="example-no-results"
       [style.display]="(accountService.accounts | async)?.length">
    No accounts found matching filter.
  </div> -->
  <mat-paginator 
  #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]"
  [showFirstLastButtons]="true"
>
</mat-paginator>
        </mat-card>
          
    </div>
</div>