<div class="row">
        <div class="col-lg-3" style="">
            <div class="hpanel stats">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    Último Activo
                </font></font></div>
                <div class="panel-body list">
                    <div class="stats-title pull-left">
                        <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Actividad</font></font></h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <i class="pe-7s-science fa-4x"></i>
                    </div>
                    <div class="m-t-xl">
                        <span class="font-bold no-margins"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            Los usuarios sociales
                         </font></font></span>
                        <br>
                        <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            Lorem Ipsum es simplemente texto ficticio de la impresión, simplemente todo texto ficticio. </font><font style="vertical-align: inherit;">Lorem Ipsum es simplemente un texto ficticio de la industria de impresión y composición tipográfica. </font><font style="vertical-align: inherit;">Lorem Ipsum ha estado.
                        </font></font></small>
                    </div>
                    <div class="row m-t-md">
                        <div class="col-lg-6" style="">
                            <h3 class="no-margins font-extra-bold text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">300,102</font></font></h3>

                            <div class="font-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">98% </font></font><i class="fa fa-level-up text-success"></i></div>
                        </div>
                        <div class="col-lg-6" style="">
                            <h3 class="no-margins font-extra-bold text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">280,200</font></font></h3>

                            <div class="font-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">98% </font></font><i class="fa fa-level-up text-success"></i></div>
                        </div>
                    </div>
                    <div class="row m-t-md">
                        <div class="col-lg-6" style="">
                            <h3 class="no-margins font-extra-bold "><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">120,108</font></font></h3>

                            <div class="font-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">38% </font></font><i class="fa fa-level-down"></i></div>
                        </div>
                        <div class="col-lg-6" style="">
                            <h3 class="no-margins font-extra-bold "><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">450,600</font></font></h3>

                            <div class="font-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">28% </font></font><i class="fa fa-level-down"></i></div>
                        </div>

                    </div>
                </div>
                <div class="panel-footer"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    Este es el pie de página estándar del panel
                </font></font></div>
            </div>
        </div>
        <div class="col-lg-6" style="">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    Proyectos activos recientemente
                </font></font></div>
                <div class="panel-body list">
                    <div class="table-responsive project-list">
                        <table class="table table-striped">
                            <thead>
                            <tr>

                                <th colspan="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Proyecto</font></font></th>
                                <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Terminado</font></font></th>
                                <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tarea</font></font></th>
                                <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha</font></font></th>
                                <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Acción</font></font></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contrato con la empresa Zender
                                    </font></font><br>
                                    <small><i class="fa fa-clock-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Creado 14.08.2015</font></font></small>
                                </td>
                                <td>
                                    <span class="pie" style="display: none;">1/5</span><svg class="peity" height="16" width="16"><path d="M 8 0 A 8 8 0 0 1 15.60845213036123 5.52786404500042 L 8 8" fill="#62cb31"></path><path d="M 15.60845213036123 5.52786404500042 A 8 8 0 1 1 7.999999999999998 0 L 8 8" fill="#edf0f5"></path></svg>
                                </td>
                                <td><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20%</font></font></strong></td>
                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">14 de julio de 2013</font></font></td>
                                <td><a href=""><i class="fa fa-check text-success"></i></a></td>
                            </tr>
                            <tr>
                                <td><div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hay muchas variaciones de pasajes.
                                    </font></font><br>
                                    <small><i class="fa fa-clock-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Creado 21.07.2015</font></font></small>
                                </td>
                                <td>
                                    <span class="pie" style="display: none;">1/4</span><svg class="peity" height="16" width="16"><path d="M 8 0 A 8 8 0 0 1 16 8 L 8 8" fill="#62cb31"></path><path d="M 16 8 A 8 8 0 1 1 7.999999999999998 0 L 8 8" fill="#edf0f5"></path></svg>
                                </td>
                                <td><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">40%</font></font></strong></td>
                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">16 de julio de 2013</font></font></td>
                                <td><a href=""><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contrario a la creencia popular
                                    </font></font><br>
                                    <small><i class="fa fa-clock-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Created 12.06.2015</font></font></small>
                                </td>
                                <td>
                                    <span class="pie" style="display: none;">0.52/1.561</span><svg class="peity" height="16" width="16"><path d="M 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 L 8 8" fill="#62cb31"></path><path d="M 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 L 8 8" fill="#edf0f5"></path></svg>
                                </td>
                                <td><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">75%</font></font></strong></td>
                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">18 de julio de 2013</font></font></td>
                                <td><a href=""><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td><div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Proyecto gamma
                                    </font></font><br>
                                    <small><i class="fa fa-clock-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Creado 06.03.2015</font></font></small>
                                </td>
                                <td>
                                    <span class="pie" style="display: none;">226/360</span><svg class="peity" height="16" width="16"><path d="M 8 0 A 8 8 0 1 1 2.2452815972907922 13.55726696367198 L 8 8" fill="#62cb31"></path><path d="M 2.2452815972907922 13.55726696367198 A 8 8 0 0 1 7.999999999999998 0 L 8 8" fill="#edf0f5"></path></svg>
                                </td>
                                <td><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">dieciséis%</font></font></strong></td>
                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">22 de julio de 2013</font></font></td>
                                <td><a href=""><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3" style="">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    Actividad
                </font></font></div>
                <div class="panel-body list">

                    <div class="pull-right">
                        <a href="#" class="btn btn-xs btn-default"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hoy </font></font></a>
                        <a href="#" class="btn btn-xs btn-default"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">mes</font></font></a>
                    </div>
                    <div class="panel-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Última actividad</font></font></div>
                    <small class="fo"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Este es un ejemplo simple</font></font></small>
                    <div class="list-item-container">
                        <div class="list-item">
                            <h3 class="no-margins font-extra-bold text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2,773</font></font></h3>
                            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tota Mensajes enviados</font></font></small>
                            <div class="pull-right font-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">98% </font></font><i class="fa fa-level-up text-success"></i></div>
                        </div>
                        <div class="list-item">
                            <h3 class="no-margins font-extra-bold text-color3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4.422</font></font></h3>
                            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Última actividad</font></font></small>
                            <div class="pull-right font-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">13% </font></font><i class="fa fa-level-down text-color3"></i></div>
                        </div>
                        <div class="list-item">
                            <h3 class="no-margins font-extra-bold text-color3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9.180</font></font></h3>
                            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ingreso mensual</font></font></small>
                            <div class="pull-right font-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">22% </font></font><i class="fa fa-bolt text-color3"></i></div>
                        </div>
                        <div class="list-item">
                            <h3 class="no-margins font-extra-bold text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1,450</font></font></h3>
                            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tota Mensajes enviados</font></font></small>
                            <div class="pull-right font-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">44% </font></font><i class="fa fa-level-up text-success"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
