<div class="col-lg-4 col-sm-3 row-in-br">
    <ng-container *ngIf="ofertaAfiliado.length ==0">
        <ul class="col-in">
            <li>
                <span class="circle circle-md bg-kpi"> <i class="fa fa-dollar fa-4x"></i></span>
            </li>
            <li class="col-last">
                <h3 class="counter text-left m-t-15">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            $ 0
                        </font>
                    </font>
                </h3>
            </li>
            <li class="col-middle">
                <h4>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Sin Oferta Preprobados</font>
                    </font>
                </h4>

            </li>
            <br>
            <br>
        </ul>

    </ng-container>
    <ul class="col-in" *ngFor="let oferta of ofertaAfiliado">

        <li>
            <span class="circle circle-md bg-kpi"> <i class="fa fa-dollar fa-4x"></i></span>
        </li>
        <li class="col-last">
            <h3 class="counter text-left m-t-15">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        <ng-container *ngIf="rentaImponible.data?.ES_COLABORADOR!=1"> ${{oferta.data.MONTO | number:'1.0-0':'es'}}</ng-container>
                    </font>
                </font>
            </h3>
        </li>
        <li class="col-middle">
            <h4>
                <font style="vertical-align: inherit;">
                    <ng-container *ngIf="oferta.data.OFERTA =='PRE'">
                        <font style="vertical-align: inherit;">Monto Preaprobado</font>
                    </ng-container>
                    <ng-container *ngIf="oferta.data.OFERTA =='APROBADO'">
                        <font style="vertical-align: inherit;">Monto Preaprobado</font>
                    </ng-container>
                </font>
            </h4>

        </li>



    </ul>

</div>


<ng-container *ngIf="mora.length == 1">
    <div class="col-lg-4 col-sm-3 row-in-br" *ngFor="let moras of mora">

        <ul class="col-in">
            <li>
                <span class="circle circle-md bg-kpi"> <i class="fa fa-dollar fa-4x"></i></span>
            </li>
            <li class="col-last">
                <h3 class="counter text-left m-t-15">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;color:crimson;">
                            ${{moras.data.MORA_OP | number:'1.0-0':'es'}}
                        </font>
                    </font>
                </h3>
            </li>
            <li class="col-middle">
                <h4>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Mora</font>
                    </font>
                </h4>

            </li>



        </ul>
        <div class="row">
            <div class="col-lg-3">
                <span class="mytooltip tooltip-effect-5">
                    <span class="tooltip-item">Opcion 1</span> <span class="tooltip-content clearfix" style="border-radius: 5%;">
                           <span class="tooltip-text m-l-20">{{moras.data.PRIORIDAD_1}}</span> </span>
                </span>

            </div>
            <div class="col-lg-3">
                <span class="mytooltip tooltip-effect-5">
                    <span class="tooltip-item">Opcion 2</span> <span class="tooltip-content clearfix" style="border-radius: 5%;">
                           <span class="tooltip-text m-l-20">{{moras.data.PRIORIDAD_2}}</span> </span>
                </span>
            </div>
            <div class="col-lg-3">
                <span class="mytooltip tooltip-effect-5">
                    <span class="tooltip-item">Opcion 3</span> <span class="tooltip-content clearfix" style="border-radius: 5%;">
                           <span class="tooltip-text m-l-20">{{moras.data.PRIORIDAD_3}}</span> </span>
                </span>
            </div>
            <div class="col-lg-3">
                <span class="mytooltip tooltip-effect-5">
                    <span class="tooltip-item">Opcion 4</span> <span class="tooltip-content clearfix" style="border-radius: 5%;">
                           <span class="tooltip-text m-l-20 text-center">{{moras.data.PRIORIDAD_4}}</span> </span>
                </span>
            </div>

        </div>
    </div>
</ng-container>
<ng-container *ngIf="mora.length > 1">
    <div class="col-lg-4 col-sm-3 row-in-br" *ngFor="let moras of mora;  let i=index">
        <ng-container *ngIf="i<1">
            <ul class="col-in">
                <li>
                    <div class="pulse">
                        <i class="fa fa-dollar fa-lg " data-toggle="modal" data-target="#myModalAH"></i>
                    </div>
                </li>
                <li class="col-last">
                    <h3 class="counter text-left m-t-15">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                ${{moraTotal | number:'1.0-0':'es'}}
                            </font>
                        </font>
                        <h4>{{moraN | number:'1.0-0':'es'}} creditos en mora</h4>
                    </h3>
                </li>
                <li class="col-middle">
                    <h4>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Mora</font>
                        </font>
                    </h4>
                </li>
            </ul>

        </ng-container>
    </div>
    <div class="modal fade" id="myModalAH" tabindex="-1" role="dialog" aria-labelledby="myModalAHTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title">Detalle Mora</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Operacion</th>
                                    <th>Mora</th>
                                    <th>Oferta</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let moras of mora;  let i=index">
                                    <td>
                                        <span class="text-success font-bold">{{moras.data.OPERACION}}</span>
                                    </td>
                                    <td>
                                        <div class="col-lg-12">
                                            ${{ (moras.data.MORA_OP ) | number:'1.0-0':'es'}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-lg-12">
                                            $ {{ (moras.data.OFERTA ) | number:'1.0-0':'es'}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-lg-12">
                                            <ul class="common-list">
                                                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> {{moras.data.PRIORIDAD_1}}</a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i>  {{moras.data.PRIORIDAD_2}}</a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i>  {{moras.data.PRIORIDAD_3}}</a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i>  {{moras.data.PRIORIDAD_4}}</a></li>
                                            </ul>

                                        </div>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</ng-container>


















<ng-container *ngFor="let oferta of ofertSeguroAuto;  let i=index">
    <div class="col-lg-4 col-sm-3 row-in-br">
        <ul class="col-in" *ngFor="let renta of rentaImponible">
            <li>
                <div class="pulse">
                    <i class="fa fa-car fa-lg" data-toggle="modal" data-target="#myModalSegAuto" (click)="saveLogCampana()"></i>
                </div>
            </li>
            <li class="col-last">
                <h3 class="counter text-left m-t-15">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            ${{(oferta.data.DEDUCIBLE_5)*uf_valor | number:'1.0-0':'es'}}
                        </font>
                    </font>
                </h3>
            </li>
            <li class="col-middle">
                <h4>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Seguro Auto Full</font>
                    </font>
                </h4>
            </li>
        </ul>
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    <span class="label label-success"> Cobertura Inmediata </span>
                </h4>
            </div>
        </div>
    </div>






    <div class="modal fade" id="myModalSegAuto" tabindex="-1" role="dialog" aria-labelledby="myModalAHTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title text-center">Asegurar vehí­culo Modelo <strong>{{oferta.data.MODELO_AUTO}}</strong></h4>
                    <h6 class="modal-title text-center">UF Calculada al {{uf_fecha}} (${{uf_valor}})</h6>
                </div>
                <div class="modal-body">
                </div>
                <div class="row">
                    <div class="col-lg-8" style="">
                        <div class="col-lg-6" style="">
                            <div class="panel">
                                <div class="panel-body text-center">
                                    <h2 class="m-xs">${{((oferta.data.DEDUCIBLE_0)*(uf_valor)) | number:'1.0-0':'es'}}</h2>
                                    <h3 class="font-extra-bold no-margins text-success">
                                        DEDUCIBLE 0 UF
                                    </h3>
                                    <h6 class="font-extra-bold no-margins">
                                        <strong>12 Cuotas {{(oferta.data.DEDUCIBLE_0) | number:'1.0-2':'es'}} UF mensuales</strong>
                                    </h6>
                                    <h6 class="font-extra-bold no-margins">
                                        Prima anual {{(oferta.data.DEDUCIBLE_0*12 | number:'1.0-2':'es')}} UF
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel">
                                <div class="panel-body text-center">
                                    <h2 class="m-xs">${{((oferta.data.DEDUCIBLE_3)*(uf_valor)) | number:'1.0-0':'es'}}</h2>

                                    <h3 class="font-extra-bold no-margins text-success">
                                        DEDUCIBLE 3 UF
                                    </h3>
                                    <h6 class="font-extra-bold no-margins">
                                        <strong>12 Cuotas {{(oferta.data.DEDUCIBLE_3) | number:'1.0-2':'es'}} UF mensuales</strong>
                                    </h6>
                                    <h6 class="font-extra-bold no-margins">
                                        Prima anual {{(oferta.data.DEDUCIBLE_3*12) | number:'1.0-2':'es'}} UF
                                    </h6>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel bg-light animated bounceInLeft">
                                <div class="panel-body text-center">
                                    <div class="stats-icon pull-right">
                                        <i class="fa fa-star fa-4x"></i>
                                    </div>
                                    <h2 class="m-xs">${{((oferta.data.DEDUCIBLE_5)*(uf_valor)) | number:'1.0-0':'es'}}</h2>
                                    <h3 class="font-extra-bold no-margins text-success">
                                        DEDUCIBLE 5 UF
                                    </h3>
                                    <h6 class="font-extra-bold no-margins">
                                        <strong>12 Cuotas {{(oferta.data.DEDUCIBLE_5) | number:'1.0-2':'es'}} UF mensuales</strong>
                                    </h6>
                                    <h6 class="font-extra-bold no-margins">
                                        Prima anual {{(oferta.data.DEDUCIBLE_5)*12 | number:'1.0-2':'es'}} UF
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel">
                                <div class="panel-body text-center">
                                    <h2 class="m-xs">${{((oferta.data.DEDUCIBLE_10)*(uf_valor)) | number:'1.0-0':'es'}}</h2>
                                    <h3 class="font-extra-bold no-margins text-success">
                                        DEDUCIBLE 10 UF
                                    </h3>
                                    <h6 class="font-extra-bold no-margins">
                                        <strong>12 Cuotas {{(oferta.data.DEDUCIBLE_10) | number:'1.0-2':'es'}} UF mensuales</strong>
                                    </h6>
                                    <h6 class="font-extra-bold no-margins">
                                        Prima anual {{(oferta.data.DEDUCIBLE_10*12) | number:'1.0-2':'es'}} UF
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">

                        <table class="table">
                            <thead>
                                <tr>
                                    <td style="text-align: center;">
                                        <strong class="text-success">FLUJO DE COMUNICACION OFERTA</strong>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let campana of gestorCampana;  let i=index">
                                    <ng-container *ngIf="i==0">
                                        <tr>
                                            <td style="text-align: center;">
                                                Campaña: <strong>{{campana.data.NOMBRE_CAMPANA}}</strong>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <tr>
                                        <td>
                                            <i class="fa fa-check-square-o"></i> {{campana.data.TIPO_ACTIVIDAD}} {{campana.data.FECHA_ACCION.toDate() | date: 'dd/MM/yyyy'}}
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>

                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                            <div class="panel">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>
                                                <strong class="text-success">CONTINUAR OFERTA</strong>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="center">
                                                <form #ngRedirectCardif name="formRedirectCardif" (ngSubmit)="clickHrefCardif(ngRedirectCardif)" class="form-horizontal">

                                                    <input type="hidden" name="nombreAfiliado" *ngFor="let renta of rentaImponible" value="{{renta.data.NOMBRES}}">
                                                    <input type="hidden" name="dv_rut_persona" *ngFor="let renta of rentaImponible" value="{{renta.data.DV_RUT_PERSONA}}">
                                                    <input type="hidden" name="modeloAuto" value="{{oferta.data.MODELO_AUTO}}">
                                                    <input type="hidden" name="patente" value="{{oferta.data.PATENTE}}">

                                                    <button class="btn btn-success btn-xs" type="submit">Gestionar Venta</button>

                                                </form>
                                            </td>
                                            <td align="left">
                                                <div class="radio radio-inline radio-success">
                                                    <input #divTest1 type="radio" name="tipo" id="radio1" [(ngModel)]="radioOf" value=1 (click)="visibleInput(divTest1.value)">
                                                    <label for="radio1"><font style="color: #000000;">Que me llamen</font></label>
                                                </div>
                                                <div class="radio radio-inline radio-success">
                                                    <input #divTest2 type="radio" name="tipo" id="radio2" [(ngModel)]="radioOf" value=2 (click)="visibleInput(divTest2.value)">
                                                    <label for="radio2"><font style="color: #000000;">Continuo en la Web</font></label>
                                                </div>
                                                <div class="radio radio-inline radio-success">
                                                    <input #divTest3 type="radio" name="tipo" id="radio3" [(ngModel)]="radioOf" value=3 (click)="visibleInput(divTest3.value)">
                                                    <label for="radio3"><font style="color: #000000;">No me interesa</font></label>
                                                </div>


                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div #divTestDisplay1 style="display: none;">
                                    <form #ngFormFono name="formFono" (ngSubmit)="registerForm(ngFormFono)" class="form-horizontal">

                                        <input type="hidden" name="nombreAfiliado" *ngFor="let renta of rentaImponible" value="{{renta.data.NOMBRES}}">
                                        <input type="hidden" name="dv_rut_persona" *ngFor="let renta of rentaImponible" value="{{renta.data.DV_RUT_PERSONA}}">
                                        <input type="hidden" name="modeloAuto" value="{{oferta.data.MODELO_AUTO}}">
                                        <input type="hidden" name="patente" value="{{oferta.data.PATENTE}}">
                                        <div class="form-group"><label class="col-sm-2 control-label">Ingresar Fono</label>
                                            <div class="col-sm-8"><input #textFono type="text" name="textFono" class="form-control"></div>
                                            <div [innerHTML]="errorFono"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <button class="btn btn-primary" type="submit">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                    &nbsp;
                                </div>
                                <div #divTestDisplay2 style="display: none;">
                                    <form #ngFormEmail name="formEmail" (ngSubmit)="registerForm(ngFormEmail)" class="form-horizontal">
                                        <input type="hidden" name="nombreAfiliado" *ngFor="let renta of rentaImponible" value="{{renta.data.NOMBRES}}">
                                        <input type="hidden" name="apellido_paternoAfiliado" *ngFor="let renta of rentaImponible" value="{{renta.data.APELLIDO_PATERNO}}">
                                        <input type="hidden" name="apellido_maternoAfiliado" *ngFor="let renta of rentaImponible" value="{{renta.data.APELLIDO_MATERNO}}">
                                        <input type="hidden" name="dv_rut_persona" *ngFor="let renta of rentaImponible" value="{{renta.data.DV_RUT_PERSONA}}">
                                        <input type="hidden" name="modeloAuto" value="{{oferta.data.MODELO_AUTO}}">
                                        <input type="hidden" name="patente" value="{{oferta.data.PATENTE}}">
                                        <div class="form-group"><label class="col-sm-2 control-label">Ingresar Email</label>
                                            <div class="col-sm-8"><input #textEmail type="text" name="textEmail" class="form-control">
                                            </div>
                                            <div [innerHTML]="errorEmail"></div>
                                        </div>

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <button class="btn btn-primary" type="submit">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                    &nbsp;
                                </div>
                                <div #divTestDisplay3 style="display: none;">
                                    <form #ngFormOption name="formOption" (ngSubmit)="registerForm(ngFormOption)" class="form-horizontal">
                                        <input type="hidden" name="nombreAfiliado" *ngFor="let renta of rentaImponible" value="{{renta.data.NOMBRES}}">
                                        <input type="hidden" name="dv_rut_persona" *ngFor="let renta of rentaImponible" value="{{renta.data.DV_RUT_PERSONA}}">
                                        <input type="hidden" name="modeloAuto" value="{{oferta.data.MODELO_AUTO}}">
                                        <input type="hidden" name="patente" value="{{oferta.data.PATENTE}}">
                                        <div class="form-group"><label class="col-sm-2 control-label">Elija Opción</label>

                                            <div class="col-sm-8">
                                                <select #option class="form-control m-b" name="option" enabled>
                                                    <option>Seleccione Opción...</option>
                                                    <option>No es mi auto</option>
                                                    <option>Precio</option>
                                                    <option>Otro</option>
                                                </select>
                                            </div>
                                            <div [innerHTML]="errorOpcion"></div>
                                        </div>

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <button class="btn btn-primary" type="submit">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>