<app-navbar></app-navbar>
<app-left-bar></app-left-bar>
<app-idle></app-idle>
<div id="page-wrapper">
    <div class="container-fluid">

        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Mi <i class="fa fa-heart" style="color:red"></i> Cartera</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li class="active">Empresa</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="white-box text-center">
                    <h4 class="text-muted m-t-10">Cumplimiento Meta</h4> 
                    <div data-label="40%" class="css-bar css-bar-40 css-bar-lg css-bar-warning"></div>
                    <h6 class="text-muted m-t-10">2 Dias Hábiles</h6> </div>
            </div>
            <div class="col-lg-8 col-md-3 col-sm-6 col-xs-12">
                <div class="white-box p-b-0">
                    <h3 class="box-title">CUMPLIMIENTO POR PILAR</h3>
                  
                    <div class="row">
                        <ul class="list-unstyled city-weather-days">
                            <li class="col-xs-4 col-sm-3 active"><span>Venta Nueva</span><i class="fa fa-money"></i><span>118 / 393</span></li>
                            <li class="col-xs-4 col-sm-3 active"><span>Mora</span><i class="fa fa-bug"></i><span>12 / 24</span></li>
                            <li class="col-xs-4 col-sm-3 active"><span>Seguros</span><i class="fa fa-umbrella"></i><span>2 / 10 </span></li>
                            <li class="col-xs-4 col-sm-3 active"><span>Ahorro</span><i class="fa fa-bank"></i><span>1 / 10 </span></li>
                        </ul>
                    </div>
                   
                </div>
            </div>
       
        </div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="white-box">
            <h3 class="box-title">Top 3 Potencial Credito</h3>
            <ul class="country-state  p-t-20">
                <li>
                    <h4>Provida</h4>
                    <div class="pull-right">80% <i class="fa fa-level-up text-success"></i></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:48%;"> <span class="sr-only">48% Complete</span></div>
                    </div>
                </li>
    
      
              
            </ul>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="white-box">
            <h3 class="box-title">Top 10 Propenso Seguro</h3>
            <ul class="country-state  p-t-20">
                <li>
                    <h4>Provida</h4>
                    <div class="pull-right">80% <i class="fa fa-level-up text-success"></i></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:48%;"> <span class="sr-only">48% Complete</span></div>
                    </div>
                </li>
    
      
              
            </ul>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="white-box">
            <h3 class="box-title">Top 10 Propenso Ahorro</h3>
            <ul class="country-state  p-t-20">
                <li>
                    <h4>Provida</h4>
                    <div class="pull-right">80% <i class="fa fa-level-up text-success"></i></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:48%;"> <span class="sr-only">48% Complete</span></div>
                    </div>
                </li>
    
      
              
            </ul>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="white-box">
            <h3 class="box-title">Top 10 Propensa Fuga</h3>
            <ul class="country-state  p-t-20">
                <li>
                    <h4>Provida</h4>
                    <div class="pull-right">80% <i class="fa fa-level-up text-success"></i></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:48%;"> <span class="sr-only">48% Complete</span></div>
                    </div>
                </li>
    
      
              
            </ul>
        </div>
    </div>

</div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="white-box">
                    <h3 class="box-title">MIS EMPRESAS</h3>
                    <agm-map [latitude]="lat" [longitude]="lng"></agm-map>
            </div>
            </div>
            <div class="col-md-12 col-lg-6 col-sm-12">
                <div class="calendar-widget m-b-30">
                    <div class="cal-left">
                        <h1>28</h1>
                        <h4>Martes</h4> <span></span>
                        <h5>Enero 2020</h5>
                        <div class="cal-btm-text"> <a href="">3 Visitas</a>
                            <h5>Agendadas</h5> </div>
                    </div>
                    <div class="cal-right bg-theme">
                        <table class="cal-table">
                            <tbody>
                                <tr>
                                    <td colspan="5">
                                        <h1>Enero</h1></td>
                                    <td></td>
                                    <td><a href="" class="cal-add"><i class="ti-plus"></i></a></td>
                                </tr>
                                <tr>
                                    <td>SUN</td>
                                    <td>MON</td>
                                    <td>TUE</td>
                                    <td>WED</td>
                                    <td>THU</td>
                                    <td>FRI</td>
                                    <td>SAT</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>8</td>
                                    <td>9</td>
                                    <td>10</td>
                                    <td>11</td>
                                    <td>12</td>
                                    <td>13</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>15</td>
                                    <td>16</td>
                                    <td>17</td>
                                    <td>18</td>
                                    <td>19</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>21</td>
                                    <td>22</td>
                                    <td >23</td>
                                    <td>24</td>
                                    <td>25</td>
                                    <td>26</td>
                                    <td>27</td>
                                </tr>
                                <tr>
                                    <td class="cal-active">28</td>
                                    <td>29</td>
                                    <td>30</td>
                                    <td>31</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="7"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
