<div class="hpanel hviolet" *ngFor="let empresa of empresas">
    <div class="panel-heading">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                Uso Productos Financieros (Stock Vigente)
            </font>
        </font>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-6">
            <div class="hpanel stats">
                <div class="panel-body list">
                    <div class="stats-title pull-left">
                        <h4>Financiamiento</h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <div class="pulse">
                            <i class="pe-7s-credit fa-2x " data-toggle="modal" data-target="#myModal"></i>
                        </div>
                    </div>
                    <div class="m-t-xl">
                        <br>
                    </div>
                    <div class="row m-t-md">
                        <div class="col-lg-6">
                            <h3 class="no-margins font-extra-bold text-success">
                                <div class="col-lg-12">
                                    <small>
                                            {{ (empresa.data.N_AFILIADOS_CREDITO/ empresa.data.N_AFILIADOS | percent)}}
                                        </small>
                                </div>
                            </h3>

                            <div class="font-bold">Penetración</div>
                        </div>
                        <div class="col-lg-6">
                            <h3 class="no-margins font-extra-bold text-success">
                                <div class="col-lg-12">
                                    <small>{{ (empresa.data.MONTO_STOCK) /1000000 | number:'1.0-0':'es'}}MM</small>

                                </div>
                            </h3>

                            <div class="font-bold">Monto Stock</div>
                        </div>
                    </div>
                    <div class="row m-t-md">
                        <div class="col-lg-6">
                            <h3 class="no-margins font-extra-bold ">
                                <div class="col-lg-12">
                                    <small>
                                            {{ (empresa.data.N_AFILIADOS_CREDITO) | number:'1.0-0':'es'}}</small>
                                </div>
                            </h3>

                            <div class="font-bold">N° Usuarios</div>
                        </div>
                        <div class="col-lg-6">
                            <h3 class="no-margins font-extra-bold ">
                                <div class="col-lg-12">
                                    <small> {{ (empresa.data.MONTO_STOCK) / (empresa.data.N_AFILIADOS_CREDITO) /1000000 | number:'1.0-0':'es'}} MM</small>
                                </div>
                            </h3>

                            <div class="font-bold">Monto por Usuario</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-6">
            <div class="hpanel stats">
                <div class="panel-body list">
                    <div class="stats-title pull-left">
                        <h4>Protección</h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <i class="pe-7s-umbrella fa-4x"></i>
                    </div>
                    <div class="m-t-xl">
                        <br>
                    </div>
                    <div class="row m-t-md">
                        <div class="col-lg-6">
                            <h3 class="no-margins font-extra-bold text-success">
                                <div class="col-lg-12">
                                    <small>{{ (empresa.data.N_AFILIADOS_SEGURO/ empresa.data.N_AFILIADOS | percent)}}</small>
                                </div>
                            </h3>

                            <div class="font-bold">Penetración</div>
                        </div>
                        <div class="col-lg-6">
                            <h3 class="no-margins font-extra-bold text-success">
                                <div class="col-lg-12">
                                    <small>
                                            {{ (empresa.data.SEGURO_STOCK) | number:'1.0-0':'es'}} UF</small>
                                </div>
                            </h3>

                            <div class="font-bold">Monto Prima</div>
                        </div>
                    </div>
                    <div class="row m-t-md">
                        <div class="col-lg-6">
                            <h3 class="no-margins font-extra-bold ">
                                <div class="col-lg-12">
                                    <small>
                                            {{ (empresa.data.N_AFILIADOS_SEGURO) | number:'1.0-0':'es'}}</small>
                                </div>
                            </h3>

                            <div class="font-bold">N° Usuarios</div>
                        </div>
                        <div class="col-lg-6">
                            <h3 class="no-margins font-extra-bold ">
                                <div class="col-lg-12">
                                    <small>
                                            {{ (empresa.data.SEGURO_STOCK) / (empresa.data.N_AFILIADOS_SEGURO)  | number:'1.1-2':'es'}}UF</small>
                                </div>
                            </h3>

                            <div class="font-bold">Monto por Usuario</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-6">
            <div class="hpanel stats">
                <div class="panel-body list">
                    <div class="stats-title pull-left">
                        <h4>Ahorro</h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <div class="pulse">
                            <i class="pe-7s-piggy fa-2x" data-toggle="modal" data-target="#myModalAH"></i>
                        </div>
                    </div>
                    <div class="m-t-xl">
                        <br>
                    </div>
                    <div class="row m-t-md">
                        <div class="col-lg-6">
                            <h3 class="no-margins font-extra-bold text-success">
                                <div class="col-lg-12">
                                    <small>
                                            {{ (empresa.data.N_AFILIADOS_AHORRO/ empresa.data.N_AFILIADOS | percent)}}</small>
                                </div>
                            </h3>

                            <div class="font-bold">Penetración</div>
                        </div>
                        <div class="col-lg-6">
                            <h3 class="no-margins font-extra-bold text-success">
                                <div class="col-lg-12">
                                    <small>{{ (empresa.data.AHORRO_STOCK ) /1000000 | number:'1.0-0':'es'}}
                                            MM</small>

                                </div>
                            </h3>

                            <div class="font-bold">Monto Ahorrado</div>
                        </div>
                    </div>
                    <div class="row m-t-md">
                        <div class="col-lg-6">
                            <h3 class="no-margins font-extra-bold ">
                                <div class="col-lg-12">
                                    <small>
                                            {{ (empresa.data.N_AFILIADOS_AHORRO) | number:'1.0-0':'es'}}</small>
                                </div>
                            </h3>

                            <div class="font-bold">N° Usuarios</div>
                        </div>
                        <div class="col-lg-6">
                            <h3 class="no-margins font-extra-bold ">
                                <div class="col-lg-12">
                                    <small> {{ ((empresa.data.AHORRO_STOCK) / (empresa.data.N_AFILIADOS_AHORRO))/1000000  | number:'1.1-2':'es'}}MM</small>
                                </div>
                            </h3>

                            <div class="font-bold">Monto por Usuario</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Detalle por Tipo de Crédito</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Tipo de Crédito</th>
                                <th>Monto Stock</th>
                                <th>N° Usuarios</th>
                                <th>Monto por Usuario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let empresa of usoCredito">
                                <td>
                                    <span class="text-success font-bold">{{empresa.data.TIPO_CREDITO}}</span>
                                </td>

                                <td>
                                    <div class="col-lg-12">
                                        {{ empresa.data.SALDO_CAPITAL_FINAL | number:'1.0-0':'es'}}
                                    </div>
                                </td>
                                <td>
                                    <div class="col-lg-12">
                                        {{ empresa.data.N_AFILIADOS | number:'1.0-0':'es'}}
                                    </div>
                                </td>
                                <td>
                                    <div class="col-lg-12">
                                        {{ empresa.data.SALDO_CAPITAL_FINAL/empresa.data.N_AFILIADOS | number:'1.0-0':'es'}}
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="myModalAH" tabindex="-1" role="dialog" aria-labelledby="myModalAHTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Detalle Ahorro</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Tipo de Ahorro</th>
                                <th>Monto Ahorrado</th>
                                <th>N° Usuarios</th>
                                <th>Monto por Usuario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let empresa of usoAhorro">
                                <td>
                                    <span class="text-success font-bold">{{empresa.data.TIPO_CUENTA}}</span>
                                </td>
                                <td>
                                    <div class="col-lg-12">
                                        {{ (empresa.data.SALDO_ACUMULADO_PESOS ) | number:'1.0-0':'es'}}
                                    </div>
                                </td>
                                <td>
                                    <div class="col-lg-12">
                                        {{ (empresa.data.N_AFILIADOS ) | number:'1.0-0':'es'}}
                                    </div>
                                </td>
                                <td>
                                    <div class="col-lg-12">
                                        {{ (empresa.data.SALDO_ACUMULADO_PESOS )/(empresa.data.N_AFILIADOS ) | number:'1.0-0':'es'}}
                                    </div>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>