<nav class="navbar navbar-dark bg-primary">
        <span class="navbar-brand mb-0 h1"><i class="fas fa-rss"></i> Twitter</span>
      </nav>
<cdk-virtual-scroll-viewport style="height: 320px" itemSize="90">
        <ng-container *cdkVirtualFor="let tweet of twitters">
            <div class="card" style="margin-bottom: 15px; ">
             <div class="card-header  d-flex align-items-left justify-content-left h-20" style="height: 30px; padding-top: 5px;">
                    <p class="text-left .small">{{ tweet.data.created_at.toDate() | date: 'medium'  }}</p>
                </div>
             <div class="card-body">
                    <h5 class="card-title">@{{tweet.data.screen_name }}</h5>
                    <p class="card-text" >{{tweet.data.twiter_text}}</p>
             </div>
            </div>
        </ng-container>
    </cdk-virtual-scroll-viewport>
