<app-navbar></app-navbar>
<app-left-bar></app-left-bar>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Pensionados</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="#">Notificaciones</a></li>

                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">

            <div class="white-box">
                <div class="panel">
                    <form (ngSubmit)='guardar(f)' #f="ngForm">
                        <div class="form-group col-md-12">
                            <h3 class="box-title m-b-0">Leads </h3>
                            <p class="text-muted m-b-30"></p>
                            <input type="hidden" name="form_id" [(ngModel)]="lead.form_id">
                            <input type="hidden" name="created_time" [(ngModel)]="lead.created_time">
                            <input type="hidden" name="id" [(ngModel)]="lead.id">
                            <input type="hidden" name="timestamp" [(ngModel)]="lead.timestamp">
                        </div>
                        <div class="form-group col-md-12">
                            <div class="card mb-4 " style="max-width: 840px;" *ngFor="let ctx of contexto">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="assets/images/{{lead.form_id}}.jpg" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Contexto: {{ctx.data.title}}</h5>
                                            <p class="card-text">{{ctx.data.contexto}}</p>
                                            <p class="card-text"><small class="text-muted">id:{{ctx.data.id_form}}</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group col-md-6">
                            <label for="id">Id</label>
                            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="lead.id" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="date">Fecha Solicitud</label>
                            <input type="text" class="form-control" id="create_time" name="fecha" [(ngModel)]="lead.created_time" disabled>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="rut">Rut</label>
                            <input type="text" class="form-control" id="rut" name="rut" [(ngModel)]="lead.rut" placeholder="Ingrese RUT">
                        </div>
                        <div class="form-group col-md-8">
                            <label for="txtnombre">Nombre</label>
                            <input type="text" class="form-control" id="txtnombre" name="nombre" [(ngModel)]="lead.nombre" placeholder="Ingrese Nombre">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="txtphone">Comuna</label>
                            <input type="text" class="form-control" id="txtcomuna" name="comuna" [(ngModel)]="lead.comuna" placeholder="Ingrese Comuna">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtphone">Telefono</label>
                            <input type="text" class="form-control" id="txtphone" name="phone_number" [(ngModel)]="lead.phone_number" placeholder="Ingrese Telefono">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="txtemail">Email</label>
                            <input type="text" class="form-control" id="txtemail" name="email" [(ngModel)]="lead.email" placeholder="Ingrese Email">
                        </div>

                        <div class="form-group col-md-12">
                            <label for="inputState">Estado</label>
                            <select id="inputState" name="id_estado" class="form-control" [(ngModel)]="lead.id_estado">
                                      <option selected>Seleccione Estado...</option>
                                      <option *ngFor="let estado of estados" value="{{estado.data.id_estado}}"  [attr.selected]="lead.id_estado==estado.data.id_estado ? true : null">
    
    
                          {{estado.data.nombre_estado}}
                        </option>
                                    </select>
                        </div>
                        <div class="form-group  col-md-12">
                            <label for="exampleFormControlTextarea1">Observaciones</label>
                            <textarea name="observaciones" class="form-control" [(ngModel)]="lead.observaciones" id="exampleFormControlTextarea1" rows="10"></textarea>
                        </div>

                        <div class="form-group  col-md-12">
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        </div>


                    </form>
                </div>
            </div>


        </div>

    </div>
</div>